.page-container {
  background-color: #F4F4F4;
  min-height: 100vh;
  padding: 40px 20px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-family: 'Old Standard TT', serif;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.page-description {
  font-size: 1.3rem;
  color: #000000;
  margin-bottom: 30px;
  max-width: 800px;
  text-align: center;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 100px;
}

.video-wrapper {
  position: relative;
  width: 100%;
}

.video-wrapper iframe {
  width: 100%;
  height: 350px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: all; /* bloque le clic sur l’iframe */
  cursor: not-allowed;
  font-size: 1.1rem;
  padding: 10px;
  box-sizing: border-box;
}

.login-button-container {
  text-align: center;
  margin-top: auto; /* pousse le bouton en bas */
  margin-bottom: 100px;
}

.login-button {
  background-color: #FF7E33;
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
}

.login-button:hover {
  background-color: #FFD8C2;
  color: #000;
   font-size: 1.2em;
  transform: scale(1.1) translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 650px) {
  .video-grid {
    grid-template-columns: 1fr; /* une seule colonne */
    gap: 2rem;
    padding: 0 30px; /* espace vertical entre les vidéos */
  }
  .video-wrapper {
    margin: 0 auto;  /* centre la vidéo */
  }
   .video-wrapper iframe {
    height: 250px; /* hauteur réduite pour petits écrans */
  }
   .page-title {
    font-size: 2rem;
  }

  .page-description {
    font-size: 1rem;
    padding: 0 10px;
  }
}
